<mat-card *ngIf="!isLoading">

  <div>
    <h1 class="login-header">LOGIN</h1>
  </div>

  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <input name="email" type="email" ngModel matInput placeholder="Email Address" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email address.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input name="password" type="password" matInput ngModel placeholder="Password" #passwordInput="ngModel" required password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a password.</mat-error>
    </mat-form-field>

    <div class="login-butt" *ngIf="!isLoading">
      <button mat-raised-button color="accent" type="submit">Log In
      </button>
    </div>

  </form>

</mat-card>

<mat-spinner *ngIf="isLoading"></mat-spinner>
