@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

mat-card {
  padding-left: 45px;
  padding-right:45px;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.login-header {
  color: #3f51b5;
  text-align: center;
  font-family: "Roboto";
}

.login-butt {
  display: flex;
  justify-content: center;
}
